.content {
    display: flex;
    gap: 15px 20px;
}

.outer {
    width: var(--content-width);
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.side {
    overflow: hidden;
    width: 570px;
}

.span {
    flex: 1;
    width: 100%;
}
