.button {
    --bg: hsl(var(--b3));
    --bg-hov: color-mix(in hsl, hsl(var(--b6)), hsl(var(--b3)) 80%);
    --bg-atv: color-mix(in hsl, hsl(var(--b6)), hsl(var(--b3)) 60%);
    --col: hsl(var(--c2));
    --mask-colour: color-mix(in hsl, hsl(var(--c2)), hsl(var(--c3)) 50%);
    --shadow: var(--normal-shadow), var(--interact-shadow);

    appearance: none;
    background-color: var(--bg);
    color: var(--col);
    box-shadow: var(--shadow);
    border: none;

    padding: 9px 14px;
    border-radius: 14px;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-medium);

    transition-property: background-color, transform, box-shadow, color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);

    &:hover {
        background-color: var(--bg-hov);

        transition-property: transform;
        transition-duration: var(--trans);
        transition-timing-function: var(--trans-function);
    }

    &:active {
        background-color: var(--bg-atv);
        transform: scale(0.98);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: fit-content;
    text-decoration: none;
}

.sponsor {
    --hue-over: 336;
    --sat-over: 1.4;
    --lit-over: 1.1;
}

.primary {
    --bg: hsl(var(--h3));
    --bg-hov: color-mix(in hsl, hsl(var(--h4)), hsl(var(--h3)) 80%);
    --bg-atv: color-mix(in hsl, hsl(var(--h4)), hsl(var(--h3)) 60%);
    --col: hsl(var(--b7));
    --mask-colour: hsl(var(--b7), 70%) !important;
    --shadow:
        var(--primary-shadow), 0 3px 12px hsl(var(--h4), 32%),
        var(--interactable-outer);
}

.row {
    display: flex;
    gap: 8px;
}
