.image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.shrink {
    height: 300px;
}

.round {
    border-radius: 14px;

    img {
        border-radius: inherit;
        box-shadow: var(--avatar-shadow);
    }
}
