.list {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.browser_tip {
    margin-top: 10px;
    font-size: 14px;
    color: hsl(var(--c3));
    margin-bottom: 40px;
}

.browser {
    --bg: hsl(var(--b3), 20%);
    --bg-hov: hsl(var(--b3), 40%);
    --bg-atv: hsl(var(--b3), 60%);
    --col: hsl(var(--c2));
    --mask-colour: color-mix(in hsl, hsl(var(--c2)), hsl(var(--c3)) 50%);

    appearance: none;
    background-color: var(--bg);
    color: var(--col);
    box-shadow: var(--shadow);
    border: none;

    padding: 16px 20px;
    border-radius: 14px;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-medium);

    transition-property: background-color, transform, box-shadow, color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);

    &:hover {
        background-color: var(--bg-hov);

        transition-property: transform;
        transition-duration: var(--trans);
        transition-timing-function: var(--trans-function);
    }

    &:active {
        background-color: var(--bg-atv);
        transform: scale(0.98);
    }

    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    user-select: none;

    img {
        --w: 24px;
        width: var(--w);
        height: var(--w);

        &[alt="Tampermonkey"] {
            filter: invert(1);
        }
    }
}

.notice {
    margin-top: 80px;
    cursor: default;

    padding: 20px;
    background-color: hsl(var(--f4), 20%);
    border-radius: 14px;
    color: hsl(var(--l2-c));

    width: 600px;
}
