.btn-row {
    display: flex;
    align-items: center;
    gap: 6px;
}

.toggle,
.btn {
    --bg: var(--cards-overlay-image-subtlest, none), hsl(var(--b3));
    --bg-hov:
        var(--cards-overlay-image-subtlest, none),
        color-mix(in hsl, hsl(var(--b6)), hsl(var(--b3)) 80%);
    --bg-atv:
        var(--cards-overlay-image-subtlest, none),
        color-mix(in hsl, hsl(var(--b6)), hsl(var(--b3)) 60%);
    --col: hsl(var(--c2));
    --shadow: var(--normal-shadow), var(--interact-shadow);
    --shadow-hov: var(--active-shadow);
    --indent: 0.98;
    padding: var(--padding, 7px 12px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;
    background: var(--bg);
    color: var(--col);
    font-weight: var(--font-weight);
    box-shadow: var(--shadow);
    border-radius: var(--radius, var(--item-big-radius));
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;
    border: none;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);

    transition-property: background, transform, box-shadow, color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);

    &.brand {
        --padding: 10px 14px;
        --radius: 16px;
        --font-size: 16px;
        --line-height: 20px;
        gap: 8px;
    }
}
.btn.icon-btn {
    --padding: 7px;
    aspect-ratio: 1 / 1;
    height: 32px;
}

.toggle:hover,
.btn:hover {
    background: var(--bg-hov);
    transition: none;
}
.toggle:active,
.btn:active {
    background: var(--bg-atv);
}

.toggle[aria-checked="true"],
.btn.primary {
    --bg: var(--cards-overlay-image-subtlest, none), hsl(var(--h3)) !important;
    --bg-hov:
        var(--cards-overlay-image-subtlest, none),
        color-mix(in hsl, hsl(var(--h4)), hsl(var(--h3)) 80%) !important;
    --bg-atv:
        var(--cards-overlay-image-subtlest, none),
        color-mix(in hsl, hsl(var(--h4)), hsl(var(--h3)) 60%) !important;
    --col: hsl(var(--ovr, var(--b7)));
    --shadow:
        var(--primary-shadow), 0 3px 12px hsl(var(--h4), 32%),
        var(--interactable-outer);
    --shadow-hov: var(--interactable-outer), var(--interactable-active-outer);
    font-weight: var(--font-weight-bold);
}

.btn.outline {
    --bg: transparent;
    --bg-hov: hsla(var(--b4), 30%);
    --bg-atv: hsla(var(--b4), 50%);
    --shadow: inset -0.2px 0 0 1px hsl(var(--c1));
}
.btn.outline:hover {
    --shadow: inset -0.2px 0 0 1px hsl(var(--c2));
}

.btn.mimic {
    --bg: hsla(var(--h4), 10%);
    --bg-hov: hsla(var(--h4), 30%);
    --bg-atv: hsla(var(--h4), 50%);
    box-shadow: none;
}
